@use "../variables" as *;

header {
    background-image: url(../../assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-color: $offWhite;
    height: 95vh;
    ul{
        display: flex;
        text-transform: uppercase;
        align-items: center;
        li {
            margin: 10px 25px;
        }
        a {
            color: $offWhite;
            font-size: .8rem;
            letter-spacing: 1px;
            background: none;
        }
        a.title {
            text-transform: capitalize;
            font-size: 1.6rem;
            letter-spacing: 1px;
            font-weight: 100;
        }
        a:hover {
            color: $sunnyYellow;
        }
        a.title:hover {
            color: $offWhite;
        }
    }
    .horizontalAlign {
        display: flex;
        justify-content: center;
        height: calc(100vh - 56.797px);
        h1{
            font-size: 8.3rem;
            font-weight: 400;
            margin: 20px;
            line-height: 92px;
            z-index: 1;
        }
    }
    .titleFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        .yellowText {
            color: $sunnyYellow;
        }
    }
    .headerBoxImage {
        height: auto;
        min-width: 600px;
        margin: 0;
        position: absolute;
        right: 0;
        top: 33vh;
        
    }
    
}

// Styles for the header on the Contact page


.contactHeader {
    height: 100vh;
    position: absolute;
    z-index: -1;
    nav {
        background-color: #050a0c;
        width: 100vw;
    }
    .contactFlex {
        display: flex;
    }
    //this sets the background colors/images to the correct size on the contact page
    .foliageBackground {
        height: 50%;
        background-image: url(../../assets/home-image-1.jpg);
        background-size: cover;
        background-position: center;
    }
    .offWhiteBackground {
        height: 50%;
        background-color: $offWhite;
    }
}
